<!DOCTYPE html>
<html>
<head>
    <title>Bomb-Test</title>
    <link rel="stylesheet" href="static/css/styletest1.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="centered">
    <div id="End" data-end="{{.End}}">
    
    Start:
    <p class="timeStart">{{.TimeStart}}</p>
    End:
    <p class="timeEnd">{{.TimeEnd}}</p>
    
    Current:
    <p id="timer-current"></p>
        
    Remaining:
    <p id="timer-remaining"></p>
    
    <script src="static/js/countdown.js"></script>
</body>
</html>